<br><br><br><h1>Просмотр</h1>

<p>
  <strong>Ник:</strong>
  <%= @user.nick %>
</p>
 
<p>
  <strong>Логин:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

   <% if current_user.id == @user.id %>          
<%= link_to "Редактировать профиль", edit_user_path(current_user) %><% end %>

   <br>
<%= link_to 'Новая статья', new_article_path %><br>
 <%= link_to 'Все пользователи', users_path %>

