<br> <br>
<div class="center hero-unit " style="float:bottom" >

 <div id="batman" style="/*float:left*/">

<%= link_to image_tag("batman.png", alt: "Batman-pikachu"), '#' %>
</div >



 <h1>Олькин бложик</h1>

<!--<#%= link_to 'Все статьи', class: "btn btn-large btn-primary", controller: 'articles'%><br> <br>-->
<%= link_to 'Все пользователи', class: "btn btn-large btn-primary", controller: 'users'%><br> <br>
 <% if signed_in? %>
 <%= link_to 'Новый пользователь', new_user_path %> <br>
 <%= link_to 'Тэги', controller: 'tags' %><br>
 <%= link_to 'Новая статья', controller: 'articles', action: 'new' %>
 <% else %>
<% end%>
</div>





<section style="float:bottom">
	
        <%= render template: "shared/_articles_show" %>



      </section>
